{% extends 'base1.html' %}
{% block title %}Home{% endblock title %}
{% block body %}


  <div id="carouselExampleCaptions" class="carousel slide carousel-container">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1511140973288-19bf21d7e771?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>NOTHING PHONE 1</h5>
              <p>best in the market.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/clh360.jpg" class="d-block w-100" alt="..." >
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1516821440248-f497afaf1b05?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
  </div>

<div class='container'>
  <div class="card">
    <div class="image">
      <img src="/static/hostel2 (1).jpg" alt="Image 1">
    </div>
    <div class="content">
      <h3>Hostel</h3>
      <p>Deen Dayal Upadhyaya College hostel is a residence for full time Under-graduate students of this college and research scholars registered under the guidance of teachers of this college with University of Delhi. It has two hostel, one for boys and one for girls. Each hostel has a total number of 45 furnished rooms which are available for allotment to students. The rooms are allotted on twin sharing basis. It aims to provide a convenient and comfortable stay.</p>
      <a href="https://dducollegedu.ac.in/Viewtopics.aspx?MenuId=2EX4ZVljpSnMAX8Qn32MHw==">Read more</a>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/static/audi.jpeg" alt="Image 2">
    </div>
    <div class="content">
      <h3>Auditorium</h3>
      <p>A state of the art Auditorium with a seating capacity of about 400 is centrally air-conditioned and is fully equipped with audio-visual facilities. The stage has wooden flooring to facilitate activities like dances, drama and concerts. It is also used for Seminars, Conferences and Lectures by eminent speakers.</p>
      <a href="https://dducollegedu.ac.in/Viewtopics.aspx?MenuId=jTmQc_DDU_ORDK1CLKW2gXJaSg==">Read more</a>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/static/lib.jpg" alt="Image 3">
    </div>
    <div class="content">
      <h3>Library</h3>
      <p>The Library at Deen Dayal Upadhyaya College started in the year 1990, the inception year of the College, with a modest collection of 2229 Volumes of books. Today the library boasts of being fully computerized with overall total collection of approximately 45,000 documents. The library forms an integral component of teaching-learning pedagogy by providing an important platform for academic discourse and intellectual exchanges.</p>
      <a href="https://dducollegedu.ac.in/Viewtopics.aspx?MenuId=jrb2AVpQN8XwbJkaIbXisQ==">Read more</a>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/static/ict.jpg" alt="Image 3">
    </div>
    <div class="content">
      <h3>Information Communication Technology Center</h3>
      <p>College has centrally Air Conditioned Computer Centre with a capacity of about 200 users to promote network based knowledge and learning. The ICT infrastructure consists of Servers, Desktops and 10 gigabit fiber backbone which provides dedicated Internet Connectivity through WLAN (Wi-Fi) and LAN. It facilitates students and faculty to access a world class teaching and learning system.</p>
      <a href="https://dducollegedu.ac.in/Viewtopics.aspx?MenuId=dlz3rNUHleCnlFlCbV6OYWdCMojH8tD7">Read more</a>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/static/gym.jpg" alt="Image 3">
    </div>
    <div class="content">
      <h3>Gymnasium</h3>
      <p>The college has a well equipped gymnasium. College has a huge Sports Complex which has Indoor Badminton Court, Indoor Squash Court and space for other indoor activities.</p>
      <a href="https://dducollegedu.ac.in/Viewtopics.aspx?MenuId=____s4hq3p3CiyAlkyELPgmkivnB____lcJqwopKvYPPZ3NWI=">Read more</a>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/static/chem.jpg" alt="Image 3">
    </div>
    <div class="content">
      <h3>Laboratories</h3>
      <p>The college has state of the art 21 laboratories equipped with latest scientific and computing equipments. All the laboratories are equipped with audio-visual aids for interactive learning. All the science departments of the college have their own dedicated Research Labs also.</p>
      <a href="https://dducollegedu.ac.in/Viewtopics.aspx?MenuId=jxVPopLwZQ1y17vUFMg58SuAAFBq6nqN">Read more</a>
    </div>
  </div>
</div>

  
  




    
{% endblock body %}